@font-face {
  font-family: "iconfont"; /* Project id 2916542 */
  src: url('iconfont.woff2?t=1669623255376') format('woff2'),
       url('iconfont.woff?t=1669623255376') format('woff'),
       url('iconfont.ttf?t=1669623255376') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanyuwomen:before {
  content: "\e655";
}

.icon-guanyuwomen1:before {
  content: "\e62f";
}

.icon-lianjie1:before {
  content: "\e612";
}

.icon-Gradient-Tool:before {
  content: "\e672";
}

.icon-chakan:before {
  content: "\e604";
}

.icon-xiugai1:before {
  content: "\e623";
}

.icon-paixu:before {
  content: "\e603";
}

.icon-tuichudenglu:before {
  content: "\e605";
}

.icon-xiaoxi:before {
  content: "\e86f";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiugai:before {
  content: "\e651";
}

.icon-xiangji:before {
  content: "\e8bc";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-chakantiezigengduojubao:before {
  content: "\e66b";
}

.icon-pinglun:before {
  content: "\e891";
}

.icon-dianzan:before {
  content: "\ec7f";
}

.icon-rennao:before {
  content: "\e63f";
}

.icon-xinxi:before {
  content: "\e64c";
}

.icon-jubao:before {
  content: "\e621";
}

.icon-shangjiantou:before {
  content: "\e602";
}

.icon-denglu:before {
  content: "\e653";
}

.icon-shezhi:before {
  content: "\e64b";
}

.icon-renwu-ren:before {
  content: "\e749";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-xinxiang:before {
  content: "\e708";
}

.icon-bilibili:before {
  content: "\e601";
}

.icon-Bzhan:before {
  content: "\e68a";
}

.icon-qq:before {
  content: "\e600";
}

.icon-wechat-fill:before {
  content: "\e883";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bzhan:before {
  content: "\e634";
}

