/* 导航条的编写 */
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}

/* 背景 */
.quanping {
  width: 100%;
  height: 100vh;
  background-image: url(https://klcxy.top/oss-manage-service/ossinfo/queryOssUrl?tbOssInfo.oiid=355);
  background-size: cover;
  /* position: fixed; */
}

/* 导航条 */
.center_top {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
}
.center_top > div {
  display: flex;
}
/* 导航条左边的布局 */
.top_left li {
  cursor: pointer;
  margin: 0 2rem;
}
.top_left li:hover {
  color: rgba(0, 0, 0, 0.7);
}
.top_left li span {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 2px;
}

.spanwidth {
  background-color: #000;
  transition: all ease-in 0.5s;
}
.top_left li:hover .top_left > li > span {
  background-color: #000;
}
/* 导航条右边的布局 */
.top_right li {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_right div {
  display: flex;
  margin-right: 1.5rem;
  border-radius: 10px;
  position: relative;
}
.top_right input {
  width: 230px;
  height: 38px;
  padding: 0 8px;
  outline: none;
  height: 2rem;
  border: 1px rgb(114, 112, 92) solid;
  border-radius: 30px;
  background-color: transparent;
}

.top_right div i {
  position: absolute;
  right: 10px;
  top: 1px;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: antiquewhite;
}
.top_right div i:hover {
  color: antiquewhite;
  cursor: pointer;
  background-color: rgba(114, 112, 92, 0.2);
}
.top_right li img {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 1px rgb(114, 112, 92) solid;
  border-radius: 50%;
}
/* 侧边栏的设置为登录状态 */
.right_drawer_login_in a {
  text-decoration: none;
  color: #000;
}
.right_drawer_login_in a:hover {
  color: #409eff;
}
.right_drawer,
.right_drawer_login_in {
  cursor: pointer;
}
.right_drawer_login_in > div:nth-child(2) {
  cursor: default;
}
.el-drawer {
  width: 20% !important;
}
.right_drawer {
  display: flex;
}
.right_drawer img,
.right_drawer_login_in img {
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}
.right_drawer > div,
.right_drawer_login_in > div {
  margin-left: 10px;
}
.right_drawer > div:last-child {
  display: flex;
  align-items: center;
}
/* 侧边栏样式设置，登录状态 */
.right_drawer_login_in > div:first-child {
  display: flex;
  justify-content: center;
}
.right_drawer_login_in > div:first-child > img {
  height: 84px;
}
.right_drawer_login_in > div:nth-child(2) {
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
}
.right_drawer_login_in > div > a > i {
  margin: 5px;
}
.right_drawer_login_in > div:nth-child(3),
.right_drawer_login_in > div:nth-child(4),
.right_drawer_login_in > div:nth-child(5),
.right_drawer_login_in > div:nth-child(6) {
  margin: 5px 0;
  font-size: 1.1rem;
  padding: 5px 0;
}
.right_drawer_login_in > div:nth-child(3):hover,
.right_drawer_login_in > div:nth-child(4):hover,
.right_drawer_login_in > div:nth-child(5):hover,
.right_drawer_login_in > div:nth-child(6):hover {
  background-color: rgba(181, 179, 152, 0.2);
}
/* 主体页面 */
.el-main {
  display: flex;
  width: 75vw;
  margin: 0 auto;
  box-sizing: content-box;
}
.liuyanflex .el-card__body {
  display: flex;
}
/* 居中 */
.mainflex {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainflex > div:first-child {
  width: 60%;
  min-width: 768px;
}
.mainflex > div:last-child {
  margin-top: 100px;
  width: 270px;
  min-width: 250px;
}

/* 分开距离 */
.el-main .el-row {
  margin: 10px 20px;
}

.userInfo {
  width: 100%;
}
/* 压力盒子 */
.el-card .el-card__body {
  width: 100%;
  /* min-width: 425px; */
}

/* 头像 */
.liuyanflex img {
  margin: 1rem 10px 0 0;
  /* margin-top: 1rem; */
  /* margin-right: 10px; */
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: 1px rgb(114, 112, 92) solid;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* 留言的具体信息 */
/* 标题 */
.userInfo > div:first-child {
  height: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 5px;
}
.userInfo > div:first-child:hover {
  color: aquamarine;
}
/* 用户名 */
.userInfo > div:nth-child(2) {
  cursor: pointer;
  display: flex;
}
.userInfo > div:nth-child(2) > div {
  line-height: 21px;
  text-align: center;
}
/* 时间 */
.userInfo > div:nth-child(2) > div:last-child,
.userInfo > div:nth-child(3) {
  cursor: pointer;
  font-size: 0.8rem;
  color: rgb(144, 147, 153);
}
/* 下面的按纽兰 */
.userInfo > div:last-child {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.userInfo > div:last-child > div {
  line-height: 40px;
  margin: 0 8px;
}

.userInfo > div:last-child > div:hover {
  cursor: pointer;
  color: #409eff;
}
.userInfo > div:last-child > div:first-child:hover {
  cursor: default;
  color: #000;
}
/* 举报的按钮 */
.mainpagefooter {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 让右边我的信息居中显示 */
.reightuser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userInforinght .el-card .el-card__body div {
  margin-top: 5px;
}
.userInforinght div img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1px rgb(114, 112, 92) solid;
}
.reightuser > div:nth-child(3) li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 5px;
}
/* 右边个人信息最小显示框 */
.userInforinght .el-card {
  min-width: 70px;
}

.publishVisible .el-input {
  margin-top: 20px;
}
.praise {
  color: #409eff;
}
/* 没有登录的情况直接进入主页，进行操作时提示需要先登录 */
.VisibleLogin {
  width: 40%;
  margin: 0 auto;
  /* margin-top: 30%; */
}
.VisibleLogin_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-footer {
  display: flex;
  justify-content: space-between;
}
/* 发布留言市弹出的富文本框距离页面顶部的高度 */
.el-dialog__wrapper {
  top: -60px;
}
