/* 导航条的编写 */
* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
ul {
  padding: 0px;
  margin: 0px;
}
img {
  object-fit: cover;
}
/* 背景 */
.quanping {
  width: 100%;
  height: 100vh;
  background-image: url(https://klcxy.top/oss-manage-service/ossinfo/queryOssUrl?tbOssInfo.oiid=543);
  background-size: cover;
  /* position: fixed; */
  position: relative;
}
/* 文案 */
.wenan {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.wenan p {
  font-size: 2rem;
  text-indent: 2em;

  color: #fff;
  z-index: 2;
}
.wenan span {
  color: #fff;
  animation: shandong 0.5s ease-in-out infinite;
}
@keyframes shandong {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 导航条 */
.center_top {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  z-index: 10;
}
.center_top > div {
  display: flex;
}
/* 导航条左边的布局 */
.top_left li {
  cursor: pointer;
  margin: 0 2rem;
}
.top_left li:hover {
  color: rgba(0, 0, 0, 0.7);
}
.top_left li span {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 2px;
}

.spanwidth {
  background-color: #000;
  transition: all ease-in 0.5s;
}
.top_left li:hover .top_left > li > span {
  background-color: #000;
}
/* 导航条右边的布局 */
.top_right li {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_right div {
  display: flex;
  margin-right: 1.5rem;
  border-radius: 10px;
  position: relative;
}
.top_right input {
  width: 230px;
  height: 38px;
  padding: 0 8px;
  outline: none;
  height: 2rem;
  border: 1px rgb(114, 112, 92) solid;
  border-radius: 30px;
  background-color: transparent;
}

.top_right div i {
  position: absolute;
  right: 10px;
  top: 1px;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: antiquewhite;
}
.top_right div i:hover {
  color: antiquewhite;
  cursor: pointer;
  background-color: rgba(114, 112, 92, 0.2);
}
.top_right li img {
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border: 1px rgb(114, 112, 92) solid;
  border-radius: 50%;
}
.top_right input {
  padding-left: 20px;
}
.top_right input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #aab2bd;
  /* placeholder字体大小  */
  font-size: 12px;
  /* placeholder位置  */
  text-align: left;
}

/* 侧边栏的设置为登录状态 */
.right_drawer_login_in a {
  text-decoration: none;
  color: #000;
}
.right_drawer_login_in a:hover {
  color: #409eff;
}
.right_drawer,
.right_drawer_login_in {
  cursor: pointer;
}
.right_drawer_login_in > div:nth-child(2) {
  cursor: default;
}
.el-drawer {
  width: 20% !important;
}
.right_drawer {
  display: flex;
}
.right_drawer img,
.right_drawer_login_in img {
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}
.right_drawer > div,
.right_drawer_login_in > div {
  margin-left: 10px;
}
.right_drawer > div:last-child {
  display: flex;
  align-items: center;
}
/* 侧边栏样式设置，登录状态 */
.right_drawer_login_in > div:first-child {
  display: flex;
  justify-content: center;
}
.right_drawer_login_in > div:first-child > img {
  height: 84px;
}
.right_drawer_login_in > div:nth-child(2) {
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
}
.right_drawer_login_in > div > a > i {
  margin: 5px;
}
.right_drawer_login_in > div:nth-child(3),
.right_drawer_login_in > div:nth-child(4),
.right_drawer_login_in > div:nth-child(5),
.right_drawer_login_in > div:nth-child(6) {
  margin: 5px 0;
  font-size: 1.1rem;
  padding: 5px 0;
}
.right_drawer_login_in > div:nth-child(3):hover,
.right_drawer_login_in > div:nth-child(4):hover,
.right_drawer_login_in > div:nth-child(5):hover,
.right_drawer_login_in > div:nth-child(6):hover {
  background-color: rgba(181, 179, 152, 0.2);
}
/* 主体页面 */
.el-main {
  display: flex;
  width: 75vw;
  margin: 0 auto;
  box-sizing: content-box;
}

/* 居中 */
.mainflex {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainflex > div:first-child {
  width: 60%;
  min-width: 576px;
}
.mainflex > div:last-child {
  margin-top: 100px;
  width: 270px;
  min-width: 192px;
}

/* 分开距离 */
.el-main .el-row {
  margin: 10px 20px;
}

.userInfo {
  width: 100%;
}
/* 压力盒子 */
.liuyanflex {
  margin-top: 20px;
  display: flex;
  min-width: 576px;
  padding: 20px;
  border: 1px solid rgba(42, 40, 40, 0.1);
  border-radius: 10px;
}
.liuyanflex:hover {
  transition: all 0.6s ease-in;
  box-shadow: var(--box-show-cloro);
}
/* 头像 */
.liuyanflex img {
  margin-right: 10px;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
/* 留言的具体信息 */
/* 标题 */

.userInfo > div:nth-child(2) {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 5px;
}
.userInfo > div:nth-child(2):hover {
  color: aquamarine;
}
/* 用户名 */

.userInfo > div:first-child {
  padding-top: 10px;
  cursor: pointer;
  display: flex;
}
.userInfo > div:first-child > div {
  line-height: 21px;
  text-align: center;
}
/* 时间 */
.userInfo > div:first-child > div:last-child,
.userInfo > div:last-child > ul:first-child {
  cursor: default;
  cursor: pointer;
  font-size: 0.8rem;
  color: rgb(144, 147, 153);
}
.userInfo > div:last-child > ul:first-child:hover {
  color: rgb(144, 147, 153);
}
/* 下面的按纽兰 */
.userInfo > div:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.userInfo > div:last-child > ul {
  line-height: 40px;
}
.userInfo > div:last-child > ul:last-child {
  display: flex;
  justify-content: flex-end;
}
.userInfo > div:last-child > ul:last-child > div {
  margin: 0 8px;
}

.userInfo > div:last-child > ul:last-child > div:hover {
  cursor: pointer;
  color: #409eff;
}
.userInfo > div:last-child > ul:last-child > div:nth-child(1):hover {
  cursor: default;
  color: #000;
}
/* 举报的按钮 */
.mainpagefooter {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 让右边我的信息居中显示 */
.userInforinght {
  margin-left: 10px;
}
.reightuser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userInforinght .box_show_row_card {
  padding: 20px;
  margin-top: 5px;
  border-radius: 30px;
}
.userInforinght div img {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  transition: all 0.75s ease;
}
.userInforinght div img:hover {
  transform: rotate(360deg);
}
.reightuser > div:nth-child(3) li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px 5px;
}
/* 右边个人信息最小显示框 */
.box_show_row_card:hover {
  transition: all 0.4s ease-in;
  box-shadow: var(--box-show-cloro);
  /* background-color: #000; */
}
.publishVisible .el-input {
  margin-top: 20px;
}
.praise {
  color: #409eff;
}
/* 没有登录的情况直接进入主页，进行操作时提示需要先登录 */
.VisibleLogin {
  width: 40%;
  margin: 0 auto;
  /* margin-top: 30%; */
}
.VisibleLogin_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dialog-footer {
  display: flex;
  justify-content: space-between;
}
/* 发布留言市弹出的富文本框距离页面顶部的高度 */
.el-dialog__wrapper {
  top: -60px;
}

/* 底部的个性消息 */
.body_fotter_back {
  width: 100%;
  background-color: rgba(58, 153, 212, 0.2);
}
.body_footer {
  width: 75vw;
  min-width: 768px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 25%);
  justify-content: space-between;
}
.body_footer img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}
.body_footer > div > div:first-child > div,
.body_footer > div:nth-child(2) > div:last-child a,
.body_footer > div:last-child > div:last-child {
  text-align: center;
}
.body_footer > div > div {
  margin-top: 20px;
}
.body_footer > div:nth-child(2) > div:last-child {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-row-gap: 10px;
}
.body_footer > div:nth-child(2) > div:last-child a {
  text-decoration: none;
  text-align: center;
}
