.conter {
  width: 890px;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
.index_top > div:first-child img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background-position-y: 10%;
}
/* 头像 */
.index_top > .index_touxiang,
.index_top > div:first-child {
  position: relative;
}
.index_top > .index_touxiang img {
  width: 150px;
  height: 150px;
  background-size: cover;
  position: absolute;
  top: -50px;
  left: 50px;
  border: 4px solid #fff;
}
/* ip地址 */
.index_top > div:first-child > div > i {
  margin-right: 10px;
}
.index_top > div:first-child > div {
  padding: 5px;
  position: absolute;
  z-index: 11;
  background: rgba(18, 18, 18, 0.12);
  right: 30px;
  bottom: 15px;
  color: #fff;
}

/* 修改图片的遮罩层 */
.index_top > .index_touxiang span {
  position: absolute;
  top: -50px;
  left: 50px;
  width: 150px;
  height: 150px;
  background-color: rgba(109, 104, 104, 0.5);
  border: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
/* tbUser.nickname */
.tbUserNiCkname {
  display: flex;
  line-height: 78px;
  margin-left: 230px;
  font-size: 3rem;
}
/* tbUserInfo.infp */
.tbUserInfo {
  line-height: 26px;
  margin-left: 230px;
  font-size: 1rem;
}
/* 修改界面的样式 */
.index_top > div:nth-child(3) span {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
}
.index_top > div:nth-child(3) .el-input {
  width: 90%;
}
.index_top > div:nth-child(3) .el-input__inner {
  width: 100%;
  height: 42px;
}
.index_top > div:nth-child(3) .el-button {
  padding: 11px 20px;
}
.index_top > div:nth-child(3) span {
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}

.MondifytbUserNickname > div:nth-child(1) {
  margin: 18px 0 18px 230px;
}
.MondifytbUserNickname > div:nth-child(1) > div:nth-child(1) {
  line-height: 42px;
}
.MondifytbUserNickname > div:nth-child(1) > div,
.MondifytbUserNickname > div:nth-child(1) > div > div {
  display: flex;
}

/* 编辑按钮 */
.conter > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  line-height: 47px;
  padding-bottom: 10px;
}
.conter > div:nth-child(2) > div:nth-child(2) {
  display: flex;
}
.conter > div:nth-child(2) > div:nth-child(2) > div {
  cursor: pointer;
  margin: 0 5px;
}
/* 返回我的主页 */
.index_user_body:hover {
  color: #409eff;
  cursor: pointer;
}
/* 调整折叠版的位置 */
.tbUserInfo {
  margin-left: 230px;
}
.tbUserInfoFlex {
  display: flex;
}
/* 删除下拉的所有边框 */
.el-collapse-item__header,
.el-collapse-item__wrap,
.el-collapse,
.el-collapse-item:last-child {
  border: 0px;
  margin-bottom: 0px;
}
.el-collapse-item__header {
  display: block;
  font-size: 1rem;
}
.el-collapse-item__arrow {
  margin-left: 5px;
}
/* 点击修改人信息后页面的下面部分变为修改详细信息 */
.mondifyUser {
  width: 800px;
  min-width: 768px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0px 0px 5px 10px rgba(0, 0, 255, 0.2);
}
.mondifyUser > div > span {
  display: flex;
  justify-content: flex-end;
}
.mondifyUser > div {
  padding: 20px;
  position: relative;
}
.mondifyUser > div > div:nth-child(2) {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}
.modifyUser_item {
  margin-left: 10px;
  display: flex;
  font-size: 1.5rem;
  color: #606266;
}
.modifyUser_item > div:nth-child(1) {
  height: 40px;
  cursor: pointer;
  letter-spacing: 5px;
}
.modifyUser_item .el-input,
.modifyUser_item > div:nth-child(2) {
  letter-spacing: 5px;
  margin-left: 20px;
  width: 50%;
  border: 0px;
  font-size: 1.5rem;
  height: 42.6px;
  border: 1px solid #fff;
}
.modifyUser_item .el-input .el-input__inner {
  font-size: 1.5rem;
  letter-spacing: 5px;
}
/* ===================================================================== */
.user_body_main {
  margin-top: 1000px;
}
