* {
  box-sizing: border-box;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}
.el-page-header {
  line-height: 42px;
  cursor: pointer;
}
.el-page-header > .el-page-header__left > .el-icon-back,
.el-page-header > .el-page-header__left > .el-page-header__title {
  font-size: 1.3rem;
}
.header {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem 0 0 0.5rem;
}
.header:hover,
.header i:hover {
  color: #409eff;
}
.box_show {
  width: 60%;
  min-width: 768px;
  margin: 0 auto;
  box-shadow: 0 2px 12px 0 rgba(203, 75, 75, 0.1);
  padding: 1rem 0 5.5rem 0;
  margin-top: 20px;
}

.main_top > div {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_top > div:first-child > div {
  display: flex;
  align-items: center;
}
/* 头像 */
.main_top img,
.comments_concern img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 0.5px #409eff solid;
}
/* 取消 */
.guanzhu {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}

.quxiaoguanzhu {
  color: #409eff;
  background: #ecf5ff;
  border-color: #b3d8ff;
}
/* 头像旁边的内容 */
.main_top_left > div:first-child {
  margin-right: 10px;
}

.main_top_left > div:last-child > li:first-child {
  font-size: 1.5rem;
  color: #906a8b;
}
/* 信息发布的时间 */
.main_top_left > div:last-child > li:last-child {
  color: #828488;
}
.box_show > .userinfo > div {
  padding: 1rem;
  width: 100%;
}
.userinfo > div:first-child {
  font-size: 2rem;
  padding-bottom: 0px;
}
/* 关注和取消关注 */
.main_top_right > span {
  display: inline-block;
  margin-left: 1rem;
}
/* 留言内容 */
.center_info {
  display: flex;
  align-items: center;
  word-break: break-all;
}
.center_info img,
.center_info video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* background-size: cover;
  background-position: center center; */
}
/* 留言左下角的点赞和举报 */
.center_click {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.center_click div {
  cursor: pointer;
  margin-left: 2rem;
}
.center_click div:hover,
.praises {
  color: #409eff;
}
/* 评论和关注的布局 */
.comments_concern .el-tab-pane > div > div {
  padding: 15px 16px 0 16px;
}
/* 右边内容 */
.commentslists {
  border-top: 1px solid #bdbdbd;
}

.commentslists > li:first-child > div:first-child,
.commentslistconcern > li:first-child > div:first-child {
  margin-top: 10px;
}
.commentslists > li:first-child > div:last-child,
.commentslistconcern > li:first-child > div:last-child {
  cursor: pointer;
  margin-left: 20px;
}
.commentslists > li:first-child > div:last-child > p,
.commentslistconcern > li:first-child > div:last-child > p {
  font-size: 1.5rem;

  position: relative;
  margin: 5px 0;
}
.commentslists > li:last-child > span:first-child > div,
.commentslists > li:first-child > div:last-child > div:first-child,
.commentslistconcern > li:first-child > div:last-child > div:first-child {
  color: #828488;
}
.commentslists > li:first-child > div:last-child > div:last-child,
.commentslistconcern > li:first-child > div:last-child > div:last-child {
  padding-bottom: 10px;
}
.commentslists > li:first-child,
.commentslistconcern > li:first-child {
  display: flex;
}
/* 左边点击 */
.commentslists > li:last-child {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.commentslists > li:last-child > span:last-child {
  display: flex;
  align-items: center;
}
.commentslists > li:last-child span:last-child > div {
  cursor: pointer;
  margin-left: 32px;
  display: flex;
  padding-bottom: 16px;
}
.commentslists > li:last-child span:last-child > div:hover {
  color: #409eff;
}
/* 分页 */
.pagecenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 发布评论信息 */
.bushcomments {
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: hsla(197, 38%, 57%, 0.5);
  height: 84px;
}
.bushcomments > div {
  position: fixed;
  bottom: 0px;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  min-width: 600px;
}
.bushcomments li .el-button {
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  color: #909399;
  background-color: #f5f7fa;
  border-radius: 0px;
  cursor: pointer;
}
.bushcomments li .el-button:hover {
  background: #409eff;
  border-color: #409eff;
  color: #fff;
}
.comments_concern hr {
  margin: 10px 0;
}
.commentslistconcern {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comments_concern {
  width: 100%;
}
.box_show > main {
  width: 100%;
  min-width: 600px;
}
/* 最新最热 */
.hottestLatese {
  padding: 16px;
}
.hottestLatese i {
  margin-left: 5px;
}
.hottestLatese span {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px;
}

.hottestLatese > span:nth-child(2) {
  margin: 0 10px;
}
.hottestLatese .fontcolor,
.hottestLatese .fontcolor i {
  color: #9499a0;
}
.hottestLatese .fontcolor:hover {
  color: #008ac5;
}
.comments_concern .el-loading-mask {
  display: flex;
  justify-content: center;
}
.comments_concern .el-loading-spinner {
  width: auto;
}
/* 发布评论 */
.message_list_plun {
  /* width: 78%; */
  height: 100%;
  margin: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message_list_plun > div:nth-child(1) {
  width: 78%;
}
.message_list_plun > div:nth-child(2),
.message_list_plun > div:nth-child(2) button {
  height: 56px;
  padding: 12px 33.5px;
}
.message_list_plun textarea {
  width: 100%;
  height: 3.5rem;
  line-height: 1.2;
  letter-spacing: 1px;
  padding: 0.5rem 0.2rem;
  background-image: url('../img/avatar.png');
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 13%;
  border-radius: 5px;
  background-color: #f1f2f3;
  border: 1px solid #f1f2f3;
  transition: all 0.3s;
  outline: none;
  border-color: #c9ccd0;
}
.message_list_plun:focus {
  outline: none;
  border-color: #c9ccd0;
}
